@model IEnumerable<healthApp.Models.Tasks>
<!-- This view displays today's Schedule-->
@{
    ViewBag.Title = "PopulateTasks";
   
}

<div class="col-lg-2"></div>
<!-- Version 2 -->
<div class="col-lg-8">
    <h1> Tasks for Today's Shift</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Client ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Room Number</th>
                <th>Service Type</th>
                <th>Expected Time</th>
                <th>Actual Time</th>
                <th>Comments</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tbody>
                <tr>
                    <td>@Html.DisplayFor(model => item.PatientID)</td>
                    <td>@Html.DisplayFor(model => item.ClientFirstName)</td>
                    <td>@Html.DisplayFor(model => item.ClientLastName)</td>
                    <td>@Html.DisplayFor(model => item.RoomNo)</td>
                    <td>@Html.DisplayFor(model => item.Task)</td>
                    <td>@Html.DisplayFor(model => item.duration)</td>
                    <td>@Html.DisplayFor(model => item.actual)</td>
                    <td>@Html.DisplayFor(modelItem => item.comments)</td>
                    @if (true)
                    {
                        <td>@Html.ActionLink("Completed", "TaskComplete", new { id = item.ID }, new { data_mini = "true", data_role = "button", data_theme = "e", data_icon = "check" })</td>
                    }
                </tr>
            </tbody>

        }

    </table>
</div>
<div class="col-lg-2"></div>

