@model IEnumerable<healthApp.Models.Schedule>
<!-- This view displays today's Schedule-->
@{
    ViewBag.Title = "PopulateTasks";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

<!-- Version 2 -->
<div data-role="content">
    <table data-role="table" data-mode="columntoggle" id="my-table" class="ui-responsive table-stroke">
        <thead>
            <tr>
                <th>Client ID</th>
                <th>Room Number</th>
                <th>Service Type</th>
                <th>Expected Time</th>
                <th>Actual Time</th>
                <th>Comments</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tbody>
                <tr>
                    <td>@Html.DisplayFor(model => item.PatientID)</td>
                    <td>@Html.DisplayFor(model => item.RoomNo)</td>
                    <td>@Html.DisplayFor(model => item.Task)</td>
                    <td>@Html.DisplayFor(model => item.duration)</td>
                    <td>@Html.DisplayFor(model => item.actual)</td>
                    <td>@Html.DisplayFor(modelItem => item.comments)</td>
                    @if (true)
                    {
                        <td>@Html.ActionLink("Completed", "TaskComplete", new { id = item.ID }, new { data_mini = "true", data_role = "button", data_theme = "e", data_icon = "check" })</td>
                    }
                </tr>
            </tbody>

        }

    </table>
</div>

