@model healthApp.Models.Client

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Client</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
          
            @Html.LabelFor(model => model.ClientFirstName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ClientFirstName)
                @Html.ValidationMessageFor(model => model.ClientFirstName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ClientLastName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ClientLastName)
                @Html.ValidationMessageFor(model => model.ClientLastName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ClientMarital, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ClientMarital)
                @Html.ValidationMessageFor(model => model.ClientMarital)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ClientDOB, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ClientDOB)
                @Html.ValidationMessageFor(model => model.ClientDOB)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ClientHealthNum, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ClientHealthNum)
                @Html.ValidationMessageFor(model => model.ClientHealthNum)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ClientGender, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ClientGender)
                @Html.ValidationMessageFor(model => model.ClientGender)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ClientBedNum, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ClientBedNum)
                @Html.ValidationMessageFor(model => model.ClientBedNum)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ClientFamilyDoc, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ClientFamilyDoc)
                @Html.ValidationMessageFor(model => model.ClientFamilyDoc)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ClientPicture, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ClientPicture)
                @Html.ValidationMessageFor(model => model.ClientPicture)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
