@model healthApp.Models.Client

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Client</h2>

<div class="col-lg-1 col-md-1 col-sm-1  "></div>
@using (Html.BeginForm())
    { @Html.AntiForgeryToken()
<div class="col-lg-10 col-md-10 col-sm-10  ">
   
    <div class="col-lg-2 col-md-2 col-sm-10 "></div>
    <div class="col-lg-4 col-md-5 col-sm-10 ">

        <div class="form-horizontal ">
            <h3>Change @Html.DisplayFor(model => model.ClientFirstName)'s info </h3>

            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.ClientID)
            @Html.HiddenFor(model => model.ClientPicture)


            @Html.LabelFor(model => model.ClientFirstName, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.ClientFirstName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ClientFirstName)

            @Html.LabelFor(model => model.ClientLastName, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.ClientLastName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ClientLastName)


            @Html.LabelFor(model => model.ClientMarital, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.ClientMarital, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ClientMarital)

            @Html.LabelFor(model => model.ClientDOB, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.ClientDOB, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ClientDOB)

            @Html.LabelFor(model => model.ClientType, new { @class = "control-label" })
            @Html.DropDownList("ClientType", new SelectList(ViewBag.clienttype, "Value", "Text"))
            @Html.ValidationMessageFor(model => model.ClientType)
            <br />
            @Html.LabelFor(model => model.ClientSuiteNumber, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.ClientSuiteNumber, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ClientSuiteNumber)
            
            @Html.LabelFor(model => model.ClientSuitePhone, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.ClientSuitePhone, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ClientSuitePhone)

            @Html.LabelFor(model => model.ClientPersonalAgent, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.ClientPersonalAgent, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ClientPersonalAgent)

            @Html.LabelFor(model => model.ClientSafetyConcern, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.ClientSafetyConcern, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ClientSafetyConcern)

            @Html.LabelFor(model => model.ClientPharmacist, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.ClientPharmacist, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ClientPharmacist)

            @Html.LabelFor(model => model.ClientSpecialDiet, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.ClientSpecialDiet, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ClientSpecialDiet)

            @Html.LabelFor(model => model.ClientOther, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.ClientOther, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ClientOther)

            @Html.LabelFor(model => model.ClientDiagnosis, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.ClientDiagnosis, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ClientDiagnosis)

        </div>
    </div>

    <div class="col-lg-4 col-md-5 col-sm-10 ">

        <div class="form-horizontal" id="sideForm">
            <h3></h3>
            <br/>
            @Html.LabelFor(model => model.ClientHealthNum, new { @class = "control-label" })

            @Html.TextBoxFor(model => model.ClientHealthNum, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ClientHealthNum)




            @Html.LabelFor(model => model.ClientGender, new { @class = "control-label" })

            @Html.TextBoxFor(model => model.ClientGender, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ClientGender)




            @Html.LabelFor(model => model.RoomNumber, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.RoomNumber, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.RoomNumber)


            @Html.LabelFor(model => model.ClientFamilyDoc, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.ClientFamilyDoc, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ClientFamilyDoc)
            
            @Html.LabelFor(model => model.ClientRiskLevel, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.ClientRiskLevel, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ClientRiskLevel)
            
            @Html.LabelFor(model => model.ClientIndoorMobility, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.ClientIndoorMobility, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ClientIndoorMobility)
            
            @Html.LabelFor(model => model.ClientOutdoorMobility, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.ClientOutdoorMobility, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ClientOutdoorMobility)

            @Html.LabelFor(model => model.ClientPreferredLanguage, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.ClientPreferredLanguage, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ClientPreferredLanguage)

            @Html.LabelFor(model => model.ClientInterpreterRequired, new { @class = "control-label" })
            @Html.DropDownList("ClientInterpreterRequired", new SelectList(ViewBag.clientinterpreter, "Value", "Text"))
            @Html.ValidationMessageFor(model => model.ClientInterpreterRequired)

            @Html.LabelFor(model => model.ClientHearing, new { @class = "control-label" })
            @Html.DropDownList("ClientHearing", new SelectList(ViewBag.clienthearing, "Value", "Text"))
            @Html.ValidationMessageFor(model => model.ClientHearing)

            @Html.LabelFor(model => model.ClientDoesUnderstand, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.ClientDoesUnderstand, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ClientDoesUnderstand)

            @Html.LabelFor(model => model.ClientVision, new { @class = "control-label" })
            @Html.DropDownList("ClientVision", new SelectList(ViewBag.clientvision, "Value", "Text"))
            @Html.ValidationMessageFor(model => model.ClientVision)

            @Html.LabelFor(model => model.ClientCurrentMedication, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.ClientCurrentMedication, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ClientCurrentMedication)

            @Html.LabelFor(model => model.ClientFood, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.ClientFood, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ClientFood)

            @Html.LabelFor(model => model.ClientFamilyDoctor, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.ClientFamilyDoctor, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ClientFamilyDoctor)

            @Html.LabelFor(model => model.ClientMedication, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.ClientMedication, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ClientMedication)



        </div>
    </div>
   <br/>
    
   
        <div class="col-lg-8 col-md-9 col-sm-10   "></div>
        <div class="col-lg-4 col-md-3 col-sm-7   ">
            <div class="form-group">

                <br /><br /><br />
                <input class="btn btn-primary" type="submit" value="Save" />
                <a href="/Client/Details/@Model.ClientID " class="btn btn-danger">Cancel</a>

            </div>
        </div>
        <br />


    </div> <br /><br /><br />
   
    }
</div>
   

<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 "></div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
