@model IEnumerable<healthApp.Models.Client>

@{
    ViewBag.Title = "Index";
}

<h2>Clients</h2> <b>@Html.ActionLink("Create New", "Create")</b>

<table class="table" border="1">
@foreach (var item in Model) {
    <tr>
        <th colspan="3" style="background-color:#d2d5ca"></th>
    </tr>
    <tr>
        <td colspan="2">
            <b>@Html.DisplayFor(model => item.ClientFirstName) @Html.DisplayFor(model => item.ClientLastName)</b>
        </td>
        <td rowspan="3" style="width:10%">
            <img src="@Url.Content("~/Client/ViewImage/" + @Html.DisplayFor(model => item.ClientID))" style="height: 98px; width: 103px" />
        </td>
    </tr>
    <tr>
        <td style="width:40%">
            <b>@Html.DisplayNameFor(model => model.ClientMarital)</b>
        </td>
        <td>
            @Html.DisplayFor(model => item.ClientMarital)
        </td>
    </tr>
    <tr>
        <td>
            <b>@Html.DisplayNameFor(model => model.ClientDOB)</b>
        </td>
        <td>
            @Html.DisplayFor(model => item.ClientDOB)
        </td>
    </tr>
    <tr>
        <td>
            <b>@Html.DisplayNameFor(model => model.ClientHealthNum)</b>
        </td>
        <td>
            @Html.DisplayFor(model => item.ClientHealthNum)
        </td>
        <td>
            <b>@Html.ActionLink("Edit", "Edit", new { id = item.ClientID })</b>
        </td>
    </tr>
    <tr>
        <td>
            <b>@Html.DisplayNameFor(model => model.ClientGender)</b>
        </td>
        <td>
            @Html.DisplayFor(model => item.ClientGender)
        </td>
        <td>
            <b>@Html.ActionLink("Details", "Details", new { id = item.ClientID })</b>
        </td>
    </tr>
    <tr>
        <td>
            <b>@Html.DisplayNameFor(model => model.ClientBedNum)</b>
        </td>
        <td>
            @Html.DisplayFor(model => item.ClientBedNum)
        </td>
        <td>
            <b>@Html.ActionLink("Delete", "Delete", new { id = item.ClientID })</b>
        </td>
    </tr>
    <tr>
        <td>
            <b>@Html.DisplayNameFor(model => model.ClientFamilyDoc)</b>
        </td>
        <td>
            @Html.DisplayFor(model => item.ClientFamilyDoc)
        </td>
        <td>
            <b>@Html.ActionLink("Upload Photo", "UploadPicture", new { id = item.ClientID })</b>
        </td>
    </tr>
}
    


<script>
    $(function () {
        // bind change event to select
        $('#dynamic_select').bind('change', function () {
            var url = "/Client/Index/" + $(this).val(); // get selected value
            if (url) { // require a URL
                window.location = url; // redirect
            }
            return false;
        });
    });
</script>


